<div style="width: 100%;">
    <div style="display: flex; align-items: flex-start; justify-content: space-between; gap: 16px; padding: 32px;">
        <div style="display: flex; flex-direction: column; gap: 8px;">
            <div style="font-size: 32px; font-weight: 500;">চালঘর</div>
            <div>জয়দেবপুর, মধ্যবাজার, গাজীপুর</div>
            <div>০১৭১২৪৬৩২২৮</div>
        </div>
        <div style="width: 400px; display: flex; flex-direction: column; gap: 8px;">
            <div style="display: flex; align-items: center;">
                <div style="width: 130px; font-weight: bold;">Customer Name</div>
                <div>: &ensp; {{customerName}}</div>
            </div>
            <div style="display: flex; align-items: center;">
                <div style="width: 130px; font-weight: bold;">Address </div>
                <div>: &ensp; {{customerAddress}}</div>
            </div>
            <div style="display: flex; align-items: center;">
                <div style="width: 130px; font-weight: bold;">Phone Number </div>
                <div>: &ensp; {{customerPhoneNumber}}</div>
            </div>
        </div>
    </div>
    <div style="padding: 0 32px;">
        Reciept no: {{sellId}}
    </div>
    <div style="padding: 32px;">
        <table style="width: 100%; border-collapse: collapse;">
            <tr style="border: 1px solid #424242;">
                <th style="border: 1px solid #424242;">Sl.</th>
                <th style="border: 1px solid #424242;">Product Name</th>
                <th style="border: 1px solid #424242;">Quantity</th>
                <th style="border: 1px solid #424242;">Rate</th>
                <th style="border: 1px solid #424242;">Amount</th>
            </tr>
            {{#each product}}
            <tr>
                <td style="text-align: center; border: 1px solid #424242;">{{ this.serial }}</td>
                <td style="text-align: center; border: 1px solid #424242;">{{this.name}}</td>
                <td style="text-align: center; border: 1px solid #424242;">{{this.quantity}}</td>
                <td style="text-align: center; border: 1px solid #424242;">{{this.pricePerUnit}}</td>
                <td style="text-align: center; border: 1px solid #424242;">{{this.total}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div style="width: 100%; display: flex; flex-direction: column; align-items: flex-end;gap: 8px;">
        <div style="margin-right: 32px; display: flex; align-items: center;">
            <div>Delivery Charge:</div>
            <div
                style="width: 100px; border: 1px solid #424242; padding: 2px 8px; margin-left: 8px; text-align: center;">
                {{deliveryCharge}}</div>
        </div>
        <div style="margin-right: 32px; display: flex; align-items: center;">
            <div>Total Amount:</div>
            <div
                style="width: 100px; border: 1px solid #424242; padding: 2px 8px; margin-left: 8px; text-align: center;">
                {{totalAmount}}</div>
        </div>
        <div style="margin-right: 32px; display: flex; align-items: center;">
            <div>Discount:</div>
            <div
                style="width: 100px; border: 1px solid #424242; padding: 2px 8px; margin-left: 8px; text-align: center;">
                {{totalDiscount}}</div>
        </div>
        <div style="margin-right: 32px; display: flex; align-items: center;">
            <div>Payable Amount:</div>
            <div
                style="width: 100px; border: 1px solid #424242; padding: 2px 8px; margin-left: 8px; text-align: center;">
                {{totalDiscountedPrice}}</div>
        </div>
        <div style="margin-right: 32px; display: flex; align-items: center;">
            <div>Paid:</div>
            <div
                style="width: 100px; border: 1px solid #424242; padding: 2px 8px; margin-left: 8px; text-align: center;">
                {{totalPaid}}</div>
        </div>
        <div style="margin-right: 32px; display: flex; align-items: center;">
            <div>Due:</div>
            <div
                style="width: 100px; border: 1px solid #424242; padding: 2px 8px; margin-left: 8px; text-align: center;">
                {{due}}</div>
        </div>
    </div>
    <div style="margin-top: 200px; display: flex; align-items: flex-start; justify-content: space-between;">
        <div style="margin-left: 32px; border-top: 1px solid; border-top-style: dashed;">Customer's Signature</div>
        <div style="margin-right: 32px; border-top: 1px solid; border-top-style: dashed;">Buyer's Signature</div>
    </div>
</div>